$color-text: white;
$color-primary: rgba(var(--bs-dark-rgb));
$color-secondary: #000000;
$color-sombra: #000000ab;
$font-family: jaro;
$font-family-secondary: roboto;
$color-fb: #3b5998;
$color-ig: #d6249f;
$color-dgig: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
$color-yt: red;
$color-tw: #1da1f2;