footer{
    text-align: center;
    margin: 40px 0px 0px 0px;
    padding: 10px;
    background-color:$color-primary;
    color:white;
    font-size: small;

    @include mobile {
        margin: 0px 0px;
        padding: 1px;
        font-size: 15px;
    }

    .footer{
        text-align: center;
    }
    .rrss{
        margin: 0;
        position: fixed;
        bottom:0%;
        right: 0%;
        transform: translate(-50%, -50%);
        display:grid;

        @include mobile{
            display: inline;
            position: relative;
        }

    }
    
    i{
        text-align: center;
        font-size: 25px;
        color: white;
        margin: 5px;
        border-radius: 50%;
        padding: 8px;
        box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.35);
        transition: .3s ease;
        
        @include mobile{
            font-size: 25px;
            padding: 0px;
            margin: 15px 5px 0px 5px;
        }
        }
    
    .fa-youtube:hover{
        @include youtube
    }
    
    .fa-twitter:hover{
        @include twitter
    }
    .fa-instagram:hover{
        @include instagram
    }
    .fa-facebook:hover{
        @include facebook
    }
   }
