#container{
    margin: 40px auto 0px auto;

    @include mobile {
        margin: 0px auto 0px auto;
    }
    
    .clear{
        clear: both;
    }

    #contenido{
        float:left;
        padding: 0px 40px 40px 40px;
        min-height: 500px;
        margin: 20px 50px 50px 50px;
        border-style: solid;
        border-color: $color-primary;

        @include mobile {
            padding: 0px 0px 0px 0px;
            min-height: 500px;
            margin: 0px 0px 50px 0px;
            border-style: none;

        }
        
        .article{
            margin-top: 25px;
            margin-bottom: 15px;
            padding-bottom: 10px;
            border-bottom: 1px solid white;
            text-align:center;

            @include mobile {
                margin-top: 0px;
                margin-bottom: 0px;
                padding-bottom: 10px;
            }
            // artistas
            .contenido1{
                max-width: 100%;
            }
            .tituloartista{
                position: relative;
                align-items: center;
                .contenido2{
                    max-width: 100%;
                }
                .tilart{
                    position: absolute;
                    bottom: 3%;
                    left: 30%;
                    right: 30%;
                }
                }

        }

    }

    #nuevostemas{
        float:left;
        min-height: 500px;
        padding: 0px 40px ;
        margin: 0px 50px 50px 50px;
        border-style: solid;
        border-color: rgba(var(--bs-dark-rgb));

        @include mobile {
            padding: 0px 0px ;
            margin: 0px 0px 0px 0px;
            border-style: none;

        }
            
        .grid-nuevotema{
            display: grid;
            grid-template-columns: 1fr 1fr;

            @include mobile {
                grid-template-columns: 1fr;
            }

            .video-nuevotema{
                justify-content: center;
                align-items: center;
                display: flex;
                    
                .videoinicio{
                    margin-top: 40px;
                    margin-bottom: 40px;
                    max-width: 100%;
                    border-style: solid;
                    padding: 1px;
                    width: 1000px;
                    height: 520px;

                    @include mobile {
                        border-style: none;
                        padding: 0px;
                        width: 1000px;
                        height: 300px;
                    }
                }
            }

            .descripcion-nuevotema{
                padding-top: 50px;
                justify-content: center;
                align-items: center;
                margin-left: 15px;

                @include mobile {
                    padding-top: 0px;
                    margin-left: 0px;
                }
                .borderdesc{
                    border-style: solid;
                    border-width: 1px;
                    margin-bottom: 10px;
                    border-color: rgba(var(--bs-dark-rgb));

                    @include mobile {
                        border-style: none;
                        margin-bottom: 0px;
                    }
                    .nuevotemah3{
                        text-align: justify;
                        margin: 15px;
                    }
                        
                }
            }
                
        }
    }

    // Calendario


    .contenedor{
        width: 90%;
        max-width: 1200px;
        margin: auto;
        padding: 40px 40px;
    
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 20px;

        @include mobile {
            padding: 10px 10px;
            grid-template-columns: 1fr;
            gap: 10px;
        }

        .contenedor-conciertos {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;

            @include mobile {
                grid-template-columns: repeat(1, 1fr);
                gap: 5px;
            }

            .card {
                border-radius: 10px;
                min-height: 200px;
                font-weight: bold;
                padding: 20px;
                position: relative;
                overflow: hidden;
                background-size: cover;
                background-position: center center;
                transition: all 1s;

                &:hover {
                    transform: scale(1.1);
                  }

                & .textos {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    color: white;
                }
            }


        }

        .banner {
            border-radius: 10px;
            text-align: center;
            padding: 20px;
            background-size: cover;
            background-position: center center;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &:hover {
                transform: scale(1.1);
              }

            ul {
                list-style: none;

                li {
                    margin: 15px;
                    font-weight: bold;
                }
            }

            .boton {
                background: #FFD600;
                display: block;
                width: 100%;
                font-weight: bold;
                font-size: 14px;
                text-align: center;
                padding: 10px;
                border: none;
                border-radius: 100px;
                font-family: 'Roboto', sans-serif;
                cursor: pointer;
            }
        
        }
    }
    
    // Discografia
    
    .grid-discografia{
        display: grid;
        grid-template-columns: 1fr 1fr;

        @include mobile {
            grid-template-columns: 1fr;
        }

        .imagenalbum{
            justify-content: center;
            align-items: center;
            display: flex;
            padding: 40px;

            .imgalbum{
                width: 80%;
            }
         }

         .descripcion-discografia{
            padding-top: 50px;
            justify-content: center;
            align-items: center;
            margin-left: 15px;

            @include mobile {
                padding-top: 0px;
                margin-left: 0px;
            }

            .borderdesc1{
                border-style: solid;
                border-width: 1px;
                margin-bottom: 10px;
                margin-right: 40px;
                padding: 5px;
                border-color: rgba(var(--bs-dark-rgb));
                
                @include mobile {
                    border-style: none;
                    margin-bottom: 30px;
                    margin-right: 0px;
                }
                .spotify{
                    width: 100%;
                    height: 400px;
                    padding: 10px;

                @include mobile {
                    width: 100%;
                    height: 400px;
                    margin: 0px;
                    }
                }
            }
        }


    }

    // multimedia



    .contenedor-multimedia{
        width: 90%;
        max-width: 1200px;
        margin: auto;
        padding: 40px 40px;
        
    
        display: grid;
        grid-template-columns: 3fr;
        gap: 20px;

        @include mobile {
            padding: 5px 0px;
            grid-template-columns: 1fr;
            gap: 10px;
        }

        .contenedor-multimedia1 {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;

            @include mobile {
                grid-template-columns: repeat(1, 1fr);
                gap: 10px;
            }
            
            .card-multimedia {
                border-radius: 10px;
                padding: 5px;
                position: relative;
                overflow: hidden;
                background-color: rgba(var(--bs-dark-rgb));
                box-shadow: 2px 2px 2px 2px rgba(32, 32, 32, 0.602);

                &:hover {
                    transform: scale(1.1);
                  }

                @include mobile {
                    padding: 0px;
                }

                .textos-multimedia {
                    height: 100%;
                    display:flex;
                    color: white;
                    justify-content:space-between;
                    align-items: center;
                    flex-direction:column;
                    padding: 5px;

                    @include mobile {
                        padding: 0px;
                    }

                    .audio-multimedia{
                        max-width: 300px;
                        width: 100%;
                    }
                }
            }
        }

    }

    .video-multimedia{
        text-align: center;
        padding: 0px;
        background-color: #000000ab;
        justify-content: center;
        align-content: center;
        align-items: center;

        .video-multimedia1{
            margin-top: 10px;
            margin-bottom: 40px;
            max-width: 100%;
            border-style: solid;
            padding: 1px;
            width: 1000px;
            height: 520px;

            @include mobile {
                margin-top: 0px;
                margin-bottom: 40px;
                max-width: 100%;
                border-style: none;
                padding: 0px;
                width: 1000px;
                height: 300px;
    
            }
        }
    
    }

}

.fondo-multimedia{
    background-image: url(../assets/images/3dfondomulti.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}

body{
    background-color:#000000;
    font-family: $font-family-secondary;
    color: $color-text;
    min-height: 100vh;

    @include mobile {
        font-size: 15px;
    }
}

