.fondo-multimedia{
    background-image: url(../assets/images/3dfondomulti.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}

body{
    background-color:#000000;
    font-family: $font-family-secondary;
    color: $color-text;
    min-height: 100vh;

    @include mobile {
        font-size: 15px;
    }
}

